.mainFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.mainFormContainer>div{
    padding-top:8%;
    width: 65%;
    /* text-align: center; */
}

.mainFormContainer>div h1{
    color: #0F172A;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -0.012em;
    line-height: 62px;
}

.mainFormContainer>div>div{
    padding: 8% 5%;
}

.socialFooter{
    display: none;
}

@media (max-width: 600px) {
    
    .mainFormContainer>div{
        /* padding-top:8%; */
        width: 95%;
        /* text-align: center; */
    }

    .mainFormContainer>div h1{
        margin-top: 15%;
        font-size: 35px;
        
    }
    .socialFooter{
        display: block;
        margin-top: 15%;
    }
    .socialicons{
        display: flex;
        justify-content: space-between;
        padding: 0 30%;
    }

    .socialLinks{
        display: flex;
        justify-content: space-between;
        padding: 0 6%;
        margin-top: 4%;
    }

    .socialRights{
        margin-top: 3%;
        text-align: center;
    }


  }