
.headingContainer{
    border-bottom:1px solid #ddd;
    margin: 0 3%;
}

.headingImgDescrptn{
    display:flex;
    margin-top:5%;
}

.headingMainImg{
    width:135px;
    height:135px;
    border-radius:12px;
    margin-right:2%;
}

.headingTitle{
    font-size:46px;
    font-weight:400;
    line-height:58px; 
    color:#0F172A;
}

.headingProjectDescrptn{
    font-size:20px;
    color:#334155;
    font-weight:400;
    line-height:28px;
    margin-top:5px;
}

.headingProjectDevs{
    font-size:18px;
    color:#94A3B8;
    font-weight:400;
    line-height:28px;
    margin-top:10px
}

.projectCategoriesBtn{
    margin-top:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.projectCategories,
.projectheadingBtn{
    display: flex;
}

.projectCategories>div{
    color:#475569;
    font-size:14px;
    /* backgroundColor:'#FEF3C7'; */
    padding:6px 12px;
    font-weight:500;
    border-radius:6px;
    margin-right:10px;
}

.projectheadingBtn div{
    border:1px solid #0F172A;
    font-size:15px;
    padding:7px 16px;
    border-radius:6px;
}

.projectRepo{
    margin-right:10px;
    background-color:#0F172A;
    color:white;
 
}
.projectWebsite{
     color:#0F172A; 
}

/* Details Page */
.detailsContainer{
    margin:0 5.2%;
}

.detailsTab{
    display:flex;
    justify-content:space-between;
    padding:2% 15%;
    border-bottom:1px solid #ddd;
    text-transform:capitalize;
}

/* Description Page */
.descriptionContainer>h2{
    font-size:30px;
    font-weight:600;
    letter-spacing:-0.75%;
    text-transform:capitalize;
    color:#0F172A;
    padding-bottom: 15px;
}

.ImageTextContainer{
    display: flex;
}

.imageContainer{
    width:40%;
}

.projectImageList{
    display:flex;
    justify-content:space-between;
    margin-top:40px;
}

.descriptionTextContainer{
    width:60%;
    padding-left:6%;
    color: #334155;
}

.descriptionTextHeader{
    font-size:18px;
    /* color:#334155; */
    font-weight:600;
    line-height:28px;
}

.descriptionProjectDetails{
    font-size:16px;
    font-weight: 400;
    margin-top: 10px;
}

.specifications{
    margin-top: 15px;
}

.projectList{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    list-style-type:disc;
    margin-left:3%;
}

/* Related Projects */
.relatedProjects{
    padding:0 2%;
}

.relatedProjects>h2{
    font-size: 30px;
    color: #0F172A;
    font-weight: 600;
    line-height: 35px;
    padding:0 3%;
}

/* Mobile Design */

@media (max-width: 640px) {
    .headingContainer{
        margin-top: 130px;
    }
    .projectCategoriesBtn{
        /* margin-top:25px; */
        display:block;
        
    }

    .projectCategories{
        flex-wrap: wrap;
    }

    .projectCategories div{
        margin-bottom: 10px;
    }

    .projectheadingBtn{
        display: block;
        margin: 10% 0 20% 0;
    }

    .projectheadingBtn div{
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    .headingImgDescrptn{
        justify-content: space-between;
        align-items: center;
    }
   
    .headingMainImg{
        width: 35%;
        height: auto;
    }

    .headingMainText{
        width: 60%;
        padding-left:10px;
    }

    /* Details page */
    .detailsContainer{
        margin:0 7.2%;
    }

    .detailsTab{
        /* remove */
        padding:2% 10%;
    }

    .ImageTextContainer{
        display: block;
        position: relative;
        margin-bottom: 50%;
    }

    .ImageTextContainer>div{
        width: 100%;
    }

    .projectImageList{
        position: absolute;
        bottom: -6%;
        width: 100%;

    }
    .descriptionTextContainer{
        margin-top: 30px;
        padding:0;
    }
    
    .descriptionTextHeader{
        font-size:20px;
        font-weight:700;
    }

    .descriptionProjectDetails{
        font-size:20px;
    }

    .projectList{
        font-size: 20px;
        margin-left:4.5%;
    }

    /* Related Projects */
    .relatedProjects{
        padding:0 6%;
    }
    
    .relatedProjects>h2{
        padding:0;
    }
}

